* {
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

body {
  background: $body-bg;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.control-label {
  display: none;
}

.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
  border: none;
  a {
    color: rgb(46, 46, 46) !important;
  }
}

.dropdown-toggle, .dropdown-menu {
  border: none;
}

.dropdown-menu a:hover {
  color: black !important;
  background: white !important;
}

nav {
  .navbar-header {
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
    }
    button {
      margin-right: 0;
    }
    button:hover, .navbar-brand:hover {
      opacity: 0.8;
    }
  }
}

#sign-up-form {
  margin-top: 100px;
  h1 {
    font-size: 36px !important;
    font-size: 3.6rem !important;
  }
  text-align: center;
  padding-bottom: 20px;
}

.pull-right {
  float: right;
}

#main-content {
  background: white;
  min-height: 800px;
  margin: 0;
  padding: 10px 0 0 0;
}

#side-menu {
  padding: 0;
  #links-list {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem;
    a {
      display: block;
      padding: 5px 15px;
      margin: 2px 0;
    }
    li {
      min-width: 195px;
      max-width: 195px;
    }
    li, li a {
      color: black;
      text-decoration: none;
    }
    li:hover {
      border-radius: 50px;
      background: $body-bg;
    }
    li:hover a, li:hover i {
      color: white;
    }
  }
}

@media only screen and (max-width: 767px) {
  #side-menu {
    display: none !important;
  }
}
